#components-layout-demo-responsive .logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
}

.sssl {
    background: rgb(0, 25, 70);
}

.ssl {
    min-height: calc(100vh - 60px) !important;
    background-image: url("/assets/images/patientdashboard.jpg");
    opacity: 80%;
    letter-spacing: 3px;
    font-family: fantasy;
    font-weight: bold;
    color: black;
    background-position: center;
    background-size: cover;
    font-weight: bold;
    border: 3px solid #f1f1f1;

    z-index: 2;

    padding: 20px;

    /* filter: blur(8px); */
    /* -webkit-filter: blur(8px); */
}

.logo {
    width: 120px;
    height: 31px;
    margin: 16px 28px 16px 0;
    float: left;
}

.site-layout-background {
    background: #fff;
}
.logo {
    background: rgba(255, 255, 255, 0.3);
}
